<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAm7he0DBgkNPYffthx5nX0eQ5CTEG5Mjs</string>
	<key>GCM_SENDER_ID</key>
	<string>79485184936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ectl.enhancedphone</string>
	<key>PROJECT_ID</key>
	<string>sampleios-61a81</string>
	<key>STORAGE_BUCKET</key>
	<string>sampleios-61a81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79485184936:ios:c3d525723be5c399050b9d</string>
</dict>
</plist>